*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gridwrap {
  background-image: url(../img/background.jpg);
  background-repeat: repeaty;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: auto;
  min-height: 90vh;
  display: grid;
  grid-template-rows: fit-content;
  grid-gap: 5px;
  color: white;
  grid-template-areas: "maintext, articles, sidebar, btn";
}

@font-face {
  src: url(https://fonts.google.com/specimen/Lato);
  font-family: "lato";
  color: white;
}

.navigation {
  min-height: 10vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: black;
  padding: 0;
  list-style-type: none;
}

.pages {
  float: left;
}

.pages a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pages a:hover {
  background-color: #111;
}


.copyright {
  color: white;
  text-align: left;
  font-size: small;
}
.maintext {
  color: white;
  text-align: center;
  font-size: larger;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}
.mySlides {
  display: none;
}

.articles-container {
  max-width: 600px;
  max-height: 500px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.picturetitle {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
.articles {
  color: white;
  text-align: center;
  font-size: larger;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  z-index: 1;
  grid-column: 2;
  grid-row: 2/5;
  box-shadow: 0px 6px 12px 0px;
}
.authimg {
  max-width: 50px;
  text-align: left;
  justify-content: left;
  justify-self: left;
  float: left;
}
.authname {
  float: left;
  text-align: left;
  justify-content: left;
  justify-self: left;
}
.mainarticle {
  z-index: 1;
  grid-column: 2;
  grid-row: 2/5;
}
