*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(https://fonts.google.com/specimen/Lato);
  font-family: "lato";
  color: white;
}

.body {
  margin: 0;
  background-image: url(../img/background.jpg);
  background-repeat: repeat;
}
.logo {
  max-width: 10vh;
  max-height: 5vh;
}

.navigation {
  min-height: 10vh;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: black;
  padding: 0;
  list-style-type: none;
}

.pages {
  float: left;
}

.pages a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.pages a:hover {
  background-color: black;
}

.copyright {
  color: white;
  text-align: left;
  font-size: small;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  z-index: 1;
  grid-column: 1/3;
  grid-row: 6;
}
.gridwrap {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5%;
  grid-template-rows: auto;
  min-height: 90vh;
  display: grid;
  grid-template-rows: "fit-content";
  grid-gap: 5px;
  color: white;
  grid-template-areas: "articles, articles2";
}
.articles-container {
  max-width: auto;
  max-height: auto;
  position: relative;
  margin: auto;
}
.articles {
  overflow: hidden;
  align-self: center;
  justify-self: center;
  max-height: auto;
  max-width: 350px;
  grid-area: left;
  z-index: 1;
  grid-column: 3/4;
  grid-row: auto;
  box-shadow: 0px 6px 12px 0px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  color: white;
}

.picturetitle {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.articles2 {
  overflow: hidden;
  align-self: center;
  justify-self: center;
  max-height: auto;
  max-width: 350px;
  grid-area: left;
  z-index: 1;
  grid-column: 7/8;
  grid-row: auto;
  box-shadow: 0px 6px 12px 0px;
}
.artimg1 {
  max-width: 200px;
  max-height: 200px;
  text-align: left;
}
.artimg2 {
  max-width: 1px;
  max-height: 1px;
}
.btnarticle {
  padding: 3px 5px;
  font-size: medium;
  background-color: black;
  box-shadow: 0 5px 10px 0;
}
.artfont {
  color: white;
}
